/* Your app styles here */

.item-input-wrap input{
	padding-right: 40px;
}
.with-icon-button-right {
	padding-right: 36px;
    box-sizing: border-box;
}
	.with-icon-button-right .input-clear-button{
		right: 44px;
	}
	.icon-button-right{
		position: absolute;
	    top: 6px;
	    bottom: auto;
	    right: 5px;
	}